!!!
%html
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "content-type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Pattern Library Demo
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic"
    = stylesheet_link_tag "pattern-library-demo"
    = compiled_style_tags
  %body
    .wrapper
      = yield
    = javascript_include_tag "pattern_library_demo"
    = compiled_script_tags
