<section class="section component" id="symbol--component--<%= demo.component.name %>">
  <header class="type-container type-container--large">
    <div class="grid">
      <div class="grid__item">
        <% unless @pattern.name == demo.component.name %>
          <h3 class="type type--heading type--heading-3"><%= demo.component.title || demo.component.name %></h3>
        <% end %>
      </div>

      <div class="grid__item grid__item--no-flex">
        <div class="docks-button__group">
          <% details = details_for(demo.component) %>
          <% if details[:has_tags?] %>
            <div class="popover__container">
              <button class="docks-button">Details</button>

              <%= docks_popover align: :edge do %>
                <%= render "symbol_meta", symbol: demo.component, details: details %>
              <% end %>
            </div>
          <% end %>

          <div class="docks-button" data-xray-trigger="<%= demo.name %>">x-ray</div>
        </div>
      </div>
    </div>
  </header>

  <%= docks_resizable demo: demo %>
  <%= docks_class_changer_container variations: demo.select_variations(group_by_component: true), base_class: demo.component.name %>

  <% if demo.component.description %>
    <div class="type-container">
      <%= demo.component.description %>
    </div>
  <% end %>
</section>
