<div class="section function" id="symbol--function--<%= function.name %>">
  <div class="type-container type-container--large">
    <header class="function__header">
      <h3 class="mixin__title">
        <span><%= function.name %></span>
        <div class="badge">function</div>
      </h3>
    </header>

    <div class="function__description"><%== function.description %></div>
    <div class="function__signature">
      <%= docks_code_block markup: function.friendly_presenter, language: function.language, id: "function--#{function.name}" %>
    </div>

    <h3 class="function__small-heading">Parameters</h3>
    <table class="function__parameters">
      <thead>
        <td>Name</td>
        <td>Description</td>
        <td>Types</td>
        <td>Default</td>
      </thead>

      <% function.param.each do |param| %>
        <tr>
          <td><code><%= param.name %></code></td>
          <td><%== param.description %></td>
          <td><code><%= param.types.first %></code></td>
          <td class="default-value"><% if param.default %><code><%= param.default %></code><% else %>&mdash;<% end %></td>
        </tr>
      <% end %>
    </table>

    <h3 class="function__small-heading">Returns</h3>
    <code class="function__returns"><%= function.returns.types.first %></code>

    <% unless function.example.nil? %>
      <h3 class="function__small-heading">Examples</h3>
      <% function.example.each do |example| %>
        <%= docks_code_block markup: example.code, language: example.language, condensed?: true %>
      <% end %>
    <% end %>
  </div>
</div>
