<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pattern Library Demo</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic" %>
    <%= stylesheet_link_tag "pattern-library-demo" %>
    <%= compiled_style_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag "pattern_library_demo" %>
    <%= compiled_script_tags %>
  </body>
</html>
