<%
  component.config do |config|
    config.defaults author: OpenStruct.new(name: "", github: "", twitter: "", email: "")
  end

  service, profile_name, url = if component.author.github
    ["github", component.author.github, "https://github.com/#{component.author.github}"]
  elsif component.author.twitter
    ["twitter", component.author.twitter, "https://twitter.com/#{component.author.twitter}"]
  elsif component.author.email
    ["email", component.author.email, "mailto:#{component.author.email}"]
  else
    []
  end

  tag_name = url.nil? ? "div" : "a"
%>

<<%= tag_name %> class="avatar" data-service="<%= service %>" data-profile-name="<%= profile_name %>"<% unless url.nil? %> href="<%= url %>"<% end %>>
  <span class="avatar__initials"><%= component.author.name.split(" ").map { |name| name[0] }.join("") %></span>
  <div class="avatar__image"></div>
</<%= tag_name %>>
