<%
  component.config do |config|
    config.defaults markup: nil,
                    helper_markup: "",
                    stub: {},
                    language: "erb",
                    hideable?: false,
                    full_width?: false,
                    hidden?: false,
                    demo?: false,
                    condensed?: false,
                    attached_to_iframe?: false,
                    id: "code-block"

    config.classes  base: "code-block",
                    header: "code-block__header"

    config.conditional_classes if: :hidden?, base: "code-block--is-hidden"
    config.conditional_classes if: :full_width?, base: "code-block--full-width"
    config.conditional_classes if: :demo?, base: "code-block--with-demo"
    config.conditional_classes if: :condensed?, base: "code-block--condensed"
  end

  markup = component.markup || render(inline: component.helper_markup, layout: false, locals: (component.stub ? component.stub.symbolize_keys : {}))
  has_helper = component.helper_markup.present? && markup.gsub(/\s/, "") != component.helper_markup.gsub(/\s/, "")
  has_header = component.full_width? || component.hideable? || has_helper
  postfix = component.id
%>

<div class="<%= component.classes_for(:base) %><%= " code-block--with-header" if has_header %>"<% if component.attached_to_iframe? %> data-iframe-id="<%= postfix %>"<% end %>>
  <% if has_header %>
    <header class="<%= component.classes_for(:header) %>">

      <div>
        <% if has_helper %>
          <%= docks_tablist do %>
            <% if has_helper %>
              <%= docks_tab text: "Helper", active?: true, id: "language-tab-1--#{postfix}", panel_id: "language-tab-panel-1--#{postfix}" %>
            <% end %>

            <%= docks_tab text: "Markup", active?: !has_helper, id: "language-tab-2--#{postfix}", panel_id: "language-tab-panel-2--#{postfix}" %>
          <% end %>
        <% end %>
      </div>

      <div class="code-block__actions">
        <% if component.options && component.options.length > 1 %>
          <%= docks_select options: component.options %>
        <% end %>

        <% if component.hideable? %>
          <%= docks_button text: (component.hidden? ? 'Show' : 'Hide'), classes: "code-block__hide-button docks-button--subdued" %>
        <% end %>
      </div>
    </header>
  <% end %>

  <% if has_helper %>
    <div class="tab-list__panel-container">
      <%= docks_tab_panel active?: true, tab_id: "language-tab-1--#{postfix}", id: "language-tab-panel-1--#{postfix}" do %>
        <div class="code-block__code-container">
<pre class="code-block__code code-block__code--helper" tabindex="-1"><code><%= CGI.escapeHTML(component.helper_markup).strip.html_safe %></code></pre>
        </div>
      <% end %>

      <%= docks_tab_panel active?: !has_helper, tab_id: "language-tab-2--#{postfix}", id: "language-tab-panel-2--#{postfix}" do %>
        <div class="code-block__code-container">
  <pre class="code-block__code code-block__code--main" data-code-block-language="<%= component.language %>" tabindex="-1"><code><%= CGI.escapeHTML(markup).strip.html_safe %></code></pre>
        </div>
      <% end %>
    </div>

  <% else %>
    <div class="code-block__code-container">
<pre class="code-block__code code-block__code--main" data-code-block-language="<%= component.language %>" tabindex="-1"><code><%= CGI.escapeHTML(markup).strip.html_safe %></code></pre>
    </div>
  <% end %>

  <% if component.demo? %>
    <div class="code-block__demo">
      <div class="code-block__demo__content">
        <%= markup.html_safe %>
      </div>
    </div>
  <% end %>
</div>
