<%
  component.config do |config|
    config.defaults active?: false,
                    id: "panel",
                    tab_id: "tab"

    config.classes  base: "tab-list__panel"
    config.conditional_classes if: :active?, base: "tab-list__panel--is-active"
  end
%>

<div class="<%= component.classes_for(:base) %>" role="tab-panel" id="<%= component.id %>" aria-hidden="<%= !component.active? %>" aria-labelledby="<%= component.tab_id %>">
  <%= capture(&component.block) %>
</div>
