<div class="content content--extra-vertical-spacing">
  <div class="section" id="<%= factory.symbol_id %>" data-private="<%= factory.private? %>">
    <h2 class="type type--heading type--heading-2 type--heading-bordered">
      <span class="type--code"><%= factory.name %></span>
    </h2>

    <div class="type-container"><%= factory.description %></div>

    <%= docks_code_block(code: factory.signature, language: factory.source.language_code) %>

    <% unless (params = factory.fetch(:params, [])).empty? %>
      <h4 class="type type--heading type--heading-4">Parameters</h4>

      <% params.each do |param| %>
        <h5 class="type type--heading type--heading-5">
          <span class="type--code"><%= param.name %></span>
          <span class="badge"><%= param.types.first.name %><%= "[]" if param.types.first.array %></span>

          <% if param.multiple %>
            <span class="badge">Multiple</span>
          <% end %>
        </h5>

        <div class="type-container type-container--small"><%= param.description %></div>

        <% unless (properties = param.properties || []).empty? %>
          <% docks_table do %>
            <thead class="table__header">
              <tr class="table__row">
                <th class="table__cell">Name</th>
                <th class="table__cell">Description</th>
                <th class="table__cell">Types</th>
                <th class="table__cell table__cell--centered">Default</th>
              </tr>
            </thead>

            <tbody class="table__body">
              <% properties.each do |property| %>
                <tr class="table__row">
                  <td class="table__cell"><code class="type--code"><%= property.name %></code></td>
                  <td class="table__cell">
                    <div class="type-container type-container--small"><%= property.description %></div>
                  </td>
                  <td class="table__cell"><%= (type = property.types.try(:first)) ? "<span class='type--code'>#{type}</span>".html_safe : "Anything" %></td>
                  <td class="table__cell table__cell--centered"><%= (default = property.default) ? "<span class='type--code'>#{default}</span>".html_safe : "&mdash;".html_safe %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% unless (examples = factory.fetch(:examples, [])).empty? %>
      <h4 class="type type--heading type--heading-4"><%= "Example".pluralize(examples.length) %></h4>

      <% examples.each do |example| %>
        <%= docks_code_block(code: example.code, language: example.language, condensed?: true) %>
      <% end %>
    <% end %>
  </div>

  <% factory.properties.each do |property| %>
    <%= render partial: "symbols/variable", locals: { variable: property } %>
  <% end %>

  <% factory.methods.each do |method| %>
    <%= render partial: "symbols/function", locals: { function: method } %>
  <% end %>
</div>
