<div class="iframe" data-iframe-id="<%= id %>">
  <div class="demo" data-iframe-id="<%= id %>">

    <% if demo.kind_of?(Docks::Containers::Demo) %>
      <% demo_variations = [demo.component] + demo.joint_variations %>
      <% demo_variations.each do |variation| %>
        <% name = variation.name %>

        <section class="demo__section" data-name="<%= name %>" id="demo__section--<%= name %>">
          <% unless demo_variations.length == 1 %>
            <header class="demo__header">
              <h2 class="badge badge--code"><%= name %></h2>
            </header>
          <% end %>

          <div class="content"><%= variation.markup %></div>
        </section>
      <% end %>

    <% else %>
      <section class="demo__section">
        <div class="content"><%= demo %></div>
      </section>
    <% end %>
  </div>
</div>
