<%
  component.configure do |config|
    config.defaults active?: false,
                    id: "panel",
                    tab_id: "tab"

    config.classes(base: "tablist__panel")
    config.conditional_classes(if: :active?, base: "tablist__panel--is-active")
  end
%>

<div class="<%= component.classes_for(:base) %>" role="tab-panel" id="<%= component.id %>" aria-hidden="<%= !component.active? %>" aria-labelledby="<%= component.tab_id %>">
  <%= capture(Docks::Helpers::Component::Popover.new, &component.block) %>
</div>
