<%
  component.configure do |config|
    config.defaults text: "Tab",
                    active?: false,
                    id: "tab",
                    panel_id: "tab_panel",
                    icon: nil

    config.classes(base: "tablist__tab")
    config.conditional_classes(if: :active?, base: "tablist__tab--is-active")
  end
%>

<a class="<%= component.classes_for(:base) %>" role="tab" tabindex="<%= component.active? ? 0 : -1 %>" aria-controls="<%= component.panel_id %>" href="#<%= component.panel_id %>" id="<%= component.id %>">
  <% if component.icon %>
    <%= docks_icon(component.icon, style: :stroke) %>
  <% end %>

  <span class="tablist__tab__text"><%= component.text %></span>
</a>
